<!DOCTYPE html>
<html>
  <head>
    <title>test</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>jsSHA test</h1>
    <p>text : <%= text %></p>
    <p>key : <%= key %></p>
    <p>output : <%= output %></p>
  </body>
</html>
